{{ define "main" }}
  {{/* Preparo i dati per resume-biography-3 */}}
  {{ $username := .File.BaseFileName }}
  {{ $text     := .Params.tagline | default "" }}

  {{ $wcBlock := dict
      "content" (dict
        "username" $username
        "text"     $text
      )
      "design" (dict
        /* Se vuoi, puoi mappare qui altri Params:
           "avatar": (dict "size" .Params.avatar_size),
           "css_class": .Params.css_class, ecc.
        */
      )
  }}

  {{ partial "blocks/resume-biography-3.html" (dict
      "wcBlock" $wcBlock
      "wcPage"  .
    ) }}
{{ end }}
